body {
    margin: 0;
}

* {
    box-sizing: border-box;
}


@media (max-width: 841px) {
    h1 {
      font-size: 4rem;  
    }
}

@media (max-width: 768px), (min-width:900px) {
    h1 {
       font-size: 6rem;
    }
}

.grid-example {
  display: flex;
  flex-wrap: wrap;
}

.grid-example div {
    flex: 1 0 240px;
    padding: 20px 20px;
}



 @media (max-width: 900px) {
    .grid-example div {
        flex: 0 0 33.33333333%;
    }
}

@media (max-width: 780px) {
    .grid-example div {
        flex: 0 0 50%;
    }
}

@media (max-width: 565px) {
    .grid-example div {
        flex: 100%;
    }
} 


.grid-example-2 {
    display: flex;
    flex-wrap: wrap;
}

.grid-example-2 div {
    flex: 100%;
    padding: 20px 20px;
}

@media (min-width: 565px) {
    .grid-example-2 div {
        flex: 0 0 50%;
    }
}

@media (min-width: 780px) {
    .grid-example-2 div {
        flex: 0 0 33.33333333%;
    }
}

@media (min-width: 900px) {
    .grid-example-2 div {
        flex: 0 0 25%;
    }
}

article {
    padding: .5rem;
}

article img {
    width: 350px;
   padding: .3rem;
   border: 1px solid rgb(151, 151, 56);
   margin: .5rem;
}

.right {
    float: right;
    margin-left: 0;
}

.left {
    float: left;
    margin-right: 0 ;
}


@media (max-width: 900px) {
    article img {
        width: 300px;
    } 
    p {
        font-size: 1.2rem;
    }
}

@media (max-width:768px) {
    article img {
        width: 250px;
    }
    p {
      font-size: 1.1rem;
    }
}


@media (max-width: 565px) {
    article img {
        width: 100%;
    }
     p {
        font-size: 1rem;
    }
}

article img {
    width: calc(100vw / 4 + 50px);
}

article p {
    font-size: calc(.5rem + 100vw * .01);
}










